*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
}
html,body{
    width:100%;
    height:100%;
    font-size:14px;
}
.wrapper{
    height: 100%;
    width:100%;
    background:url('./image/bg.png') center center no-repeat;
    background-color: #fef9f0;
}
.content{
    position:fixed;
    top:100px;
    left:50%;
    transform: translateX(-50%);
}
.content .logo{
    position:relative;
    height:100px;
    width:100px;
    left:50%;
    margin-left: -50px;
    margin-bottom:10px;
}

.content .form{
    background: #fff;
    width:450px;
    padding:50px;
    border-top:5px solid #dd3e42;
}

.form h2{
    margin-bottom: 30px;
    text-align: center;
}
.form h2 span{
    display: inline-block;
    color: #dd3e42;
    border-bottom: 1px solid #ee3e42;
    padding-bottom: 10px;
    font-size:16px;
}
.form li{
    position:relative;
    margin-bottom:20px;
}

.form li input{
    width:100%;
    padding:12px;
    height:54px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
}

.form li .label-img{
    position:absolute;
    height:20px;
    width:20px;
    right:12px;
    top:50%;
    margin-top:-10px;
}

.form li .label-img img{
    width:100%;
}

.form li .label-error{
    position:absolute;
    left:12px;
    bottom: -8px;
    background: #fff;
    color:orange;
}
.form .error{
    color:#ee3e42;
}
.form .hide{
    display: none;
}

.form .login-tab1{
    position: relative;
    width:100%;
    margin:20px 0 40px;
    color:#999;
}

.form .login-tab1 div{
    display:inline-block;
}

.form .login-tab1 .btn-login{
    width:150px;
    height:45px;
    background-color:#ee3e42;
    color:#fff;
    line-height: 45px;
    border:none;
    cursor: pointer;
}

.form .login-tab1 .item1 a{
    color: #ee3e42;
}

.form .login-tab1 .item2 {
    position: absolute;
    right:0;
    line-height:45px;
}
.form .login-tab1 .item2 a{
    color:#999;
}

.form .login-tab2{
    width: 100%;
    text-align: center;
}

.form .login-tab2 a{
    margin:0 30px; 
    color:#999; 
}
.form .login-tab2 img{
    width: 36px;
    height:36px;
    margin-right:7px;
    vertical-align: middle;
}








