*{
    margin:0;
    padding:0;
    list-style: none;
}
body{
    background-color:#272727;

}
.wrap{
    position:relative;
    width:100%;    
    height:600px;
    overflow: hidden;
}
.photos{
    width:220px;
    height:300px;
    padding:40px;
    margin:100px auto;
    position: relative;
    perspective: 500px;
    transform-style: preserve-3d;
}
.photos li{
    width:220px;
    height:300px;
    position:absolute;
    transition:all 0.3s ease-in-out;
    top:0;
    left:0;
    padding:40px;
    background-color:#fff;
    transform: rotateZ(0deg);
    cursor: pointer;

}

.photos li img{
    width:220px;
    height:260px;
}
.photos .content{
    height:30px;
    width:220px;
    margin-top:10px;
    text-align: center;
    line-height: 30px;
    font-size:30px;
}

.list{
    width:320px;
    height:50px;
    padding:10px;
    position:relative;
    margin:-20px auto;
}
.list li{
    display: inline-block;
    width:14px;
    height:14px;
    background-color:#00807A;
    border-radius:50%;
    margin-left:13px;
    transition:all 0.5s ease-in-out;
    cursor: pointer;
}

